/*
------------------
Site:      Site name
Author:    Name
Updated:   Date and time
UpDate by：Name
------------------
*/

// Variables ===================================================================
// Navbar =======================================================================
// Buttons =====================================================================

h1{
    color: red
}
// Typography ==================================================================
// Tables ======================================================================
// Forms =======================================================================
// Navs ========================================================================
// Indicators ==================================================================
// Progress bars ===============================================================
// Containers ==================================================================
