/*
------------------
Site:      Site name
Author:    Name
Updated:   Date and time
UpDate by：Name
------------------
*/
// Color system
$border-radius:none;
$input-transition:none//border-color 1s ease-in-out, box-shadow 1s ease-in-out !default;
// Links
// Fonts
// Tables
// Dropdowns
// Navs
// Navbar
// Pagination
// Progress bars
// List group
// Close